graft src
graft tests
graft docs

include README.rst
include CHANGES.rst
include LICENSE

include .coveragerc
include tox.ini appveyor.yml .travis.yml rtd.txt

exclude vrun.cfg
recursive-exclude * __pycache__ *.py[cod]
